@import "tailwindcss";

:root {
    font-family: monospace;
}

.border-gradient-green {
    --angle: 0deg;
    /* … */
    border-image: linear-gradient(var(--angle), green, yellow) 1;
    animation: 10s rotate linear infinite;
}

.border-gradient-blue {
    --angle: 0deg;
    /* … */
    border-image: linear-gradient(var(--angle), aquamarine, blueviolet) 1;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}